{# templates/profile/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}


{% block body %}
<div class="profil">
    <h1>Profil</h1>

    <dl>
        <dt>Email:</dt>
        <dd>{{ client.getEmail() }}</dd>

        <dt>Nom:</dt>
        <dd>{{ client.getNom() }}</dd>

        <dt>Prénom:</dt>
        <dd>{{ client.getPrenom() }}</dd>

        <dt>Téléphone:</dt>
        <dd>{{ client.getTel() }}</dd>

        <dt>Adresse:</dt>
        <dd>{{ client.getAdresse() }}</dd>
    </dl>

    <a href="{{ path('app_profile_edit') }}" class="btn btn-primary">Modifier le profil</a>
</div>
{% endblock %}
