{% extends 'base.html.twig' %}

{% block title %}Hello operationDashBoardController!{% endblock %}

{% block body %}
 <div class="container">
    <h1>Tableau de bord</h1>
    
    <!-- Ajoutez la case à cocher pour filtrer les opérations terminées -->
    <label for="toggle-completed-operations">Afficher les opérations terminées</label>
    <input type="checkbox" id="toggle-completed-operations">
    
    <div id="operations-table">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Prestation choisie</th>
                    <th>Client</th>
                    <th>Employé</th>
                    <th>Matricule</th>
                    <th>Date - Opération</th>
<<<<<<<<< Temporary merge branch 1

=========
                    <th>Actions</th>
>>>>>>>>> Temporary merge branch 2
                </tr>
            </thead>
            <tbody>
                {% for operation in operations %}
                    {% set isCompleted = operation.isStatus() == 1 %}
                    <tr class="{% if isCompleted %}completed-operation{% endif %}" {% if isCompleted %}style="display: none;"{% endif %}>
                        <td>{{ operation.getId() }}</td>
                        <td>{{ operation.getDemande().getPrestation().getNom() }}</td>
                        <td>{{ operation.getDemande().getClient().getNom() ~ ' ' ~  operation.getDemande().getClient().getPrenom()}}</td>
                        <td>{{ operation.getEmploye().getNom() ~ ' ' ~ operation.getEmploye().getPrenom() }}</td>
                        <td>{{ operation.getDateOperation()|date('Y-m-d H:i:s') }}</td>
<<<<<<<<< Temporary merge branch 1
                        
                            <td><a href="{{ path('app_operation_edit', {'id': operation.id}) }}"><button class="btn btn-primary bg-danger {% if isCompleted %}disabled{% endif %}">Modifier</button></a>
=========
                        <td>
                            {{ operation.getEmploye().getMatricule() }} 
                        </td>
                        <td>
                            <a href="{{ path('app_operation_edit', {'id': operation.id}) }}">
                                <button class="
                                btn btn-primary bg-danger {% if isCompleted %}disabled{% endif %}">
                                Modifier
                                </button>
                            </a>
>>>>>>>>> Temporary merge branch 2
                            <button class="btn btn-primary bg-danger finish-operation {% if isCompleted %}disabled{% endif %}" data-operation-id="{{ operation.id }}" {% if isCompleted %}disabled{% endif %}>Terminer</button>
                        </td>
                    </tr>
                 {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>

<!-- Inclusion du script JavaScript externe -->
<script src="{{ asset('js/terminer_operation.js') }}"></script>

{% endblock %}
