{% extends 'base.html.twig' %}

{% block title %}Hello operationDashBoardController!{% endblock %}

{% block body %}
 <div class="container">
        <h1>Tableau de bord</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Prestation choisie</th>
                    <th>Client</th>
                    <th>Matricule - Employé</th>
                    <th>Date - Opération</th>
                </tr>
            </thead>
            <tbody>
                {% for operation in operations %}
                    <tr>
                        <td>{{ operation.getId() }}</td>
                        <td>{{ operation.getDemande().getPrestation().getNom() }}</td>
                        <td>{{ operation.getDemande().getClient().getNom() ~ ' ' ~  operation.getDemande().getClient().getPrenom()}}</td>
                        <td>
                            {{ operation.getEmploye().getMatricule() }} 
                        <td>
                            {{ operation.getEmploye().getMatricule() }} 
                            <a href="{{ path('app_operation_edit', {'id': operation.id}) }}"><button class="btn btn-primary bg-danger {% if operation.isStatus() == 1 %}disabled{% endif %}">Modifier</button></a>
                            <button class="btn btn-primary bg-danger finish-operation {% if operation.isStatus() == 1 %}disabled{% endif %}" data-operation-id="{{ operation.id }}" {% if operation.isStatus() == 1 %}disabled{% endif %}>Terminer</button>
                        </td>

                        </td>
                        <td>{{ operation.getDateOperation()|date('Y-m-d H:i:s') }}</td>
                    </tr>
                 {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ asset('js/terminer_operation.js') }}"></script>
{% endblock %}
