{% extends 'base.html.twig' %}

{% block title %}Hello DemandeController!aa
{% endblock %}

{% block header %}
	{{ parent() }}
{% endblock %}
{% block body %}

	{{ parent() }}
	<div class="example-wrapper text-center">
		<h1>Hello
			{{ controller_name }}!✅</h1>

		<h1>Votre Formulaire</h1>

		<div class="d-flex justify-content-center align-items-center">
			<form class="form" method="POST">
				{{ form_start(form) }}

				<div class="form-group">
					{{ form_label(form.prestation) }}
					{{ form_widget(form.prestation, { 'attr': {'class': 'form-control'} }) }}
				</div>

				<button type="submit" class="btn btn-primary mt-4 mb-4">Soumettre</button>

				{{ form_end(form) }}
			</form>
		</div>
	</div>
{% endblock %}
{% block footer %}
	{{ parent() }}
{% endblock %}
