{% extends 'base.html.twig' %}

{% block title %}Operation index{% endblock %}

{% block body %}
    <h1>Operation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Date_operation</th>
                <th>Prix de la Prestation</th> <!-- Ajout de l'en-tête de la colonne du prix -->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for operation in operations %}
                <tr>
                    <td>{{ operation.id }}</td>
                    <td>{{ operation.status ? 'No' : 'Yes' }}</td>
                    <td>{{ operation.dateOperation ? operation.dateOperation|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ operation.demande.prestation.prix }}</td>
                    <td>
                        <a href="{{ path('app_chiffre_affaire_show', {'id': operation.id}) }}">show</a>
                        <a href="{{ path('app_chiffre_affaire_edit', {'id': operation.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chiffre_affaire_new') }}">Create new</a>


 <p>Le chiffre d'affaires total des opérations terminées est : {{ chiffreAffaire }} €</p>
 