{% extends 'base.html.twig' %}

{% block title %}Hello AffairesController!{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
       <div class="col-md-6"> <!-- Colonne de gauche pour le formulaire -->
            <h1>Calcul du Chiffre d'Affaires</h1>
            {{ form_start(form) }}
    
            <div class="form-group">
                {{ form_label(form.dateEntree) }}
                {{ form_widget(form.dateEntree, { 'attr': {'class': 'form-control datepicker'}}) }}
            </div>
    
            <div class="form-group">
                {{ form_label(form.dateSortie) }}
                {{ form_widget(form.dateSortie, { 'attr': {'class': 'form-control datepicker'}}) }}
            </div>
    
            <button type="submit" class="btn btn-primary">Calculer</button>
            {{ form_end(form) }}

            {% if chiffreAffaire > 0 %}
                <p>Chiffre d'affaires pour la période sélectionnée : {{ chiffreAffaire }} €</p>
            {% else %}
                <p>Aucun chiffre d'affaires calculé pour les dates sélectionnées.</p>
            {% endif %}
        </div>

        <div class="col-md-6"> <!-- Colonne de droite pour le diagramme -->
            <div class="canva">
                <canvas id="myChart" style= ""></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Grosse Prestation', 'Moyenne Prestation', 'Petite Prestation'],
            datasets: [{
                label: '# of Votes',
                data: [{{ total1 }}, {{ total2 }}, {{ total3 }}],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Activez le datepicker sur les éléments avec la classe 'datepicker'
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',  // Format de la date
        language: 'fr',  // Langue (français dans cet exemple)
        autoclose: true,  // Fermer automatiquement le calendrier après la sélection de la date
    });
</script>
{% endblock %}
