{% extends 'base.html.twig' %}

{% block title %}Hello DemandeDashBoardController!{% endblock %}

{% block body %}
 <div class="container">
        <h1>Tableau de bord</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Prestation</th>
                    <th>Client</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for demande in demandes %}
                    <tr>
                        <td>{{ demande.getId() }}</td>
                        <td>{{ demande.getPrestation().getNom() }}</td>
                        <td>{{ demande.getClient().getNom() }} {{ demande.getClient().getPrenom() }}</td>
                        <td>{{ demande.getDateDemande()|date('Y-m-d H:i:s')  }}</td>                 
                        <td><a href="{{ path('app_open_operation', { 'id': demande.getId() }) }}" class="btn btn-danger">Accepter</a>
                        <button class="btn btn-primary">Plus d'infos</button></td>
                    </tr>
                    
                 {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
