{# templates/employe_form.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>Modification du profil d'un employé</h1>

        <form method="post" class="form">

            {# Inclusion du champ CSRF ici #}
            {{ form_widget(form._token) }}

            <div class="form-group">
                <label for="matricule">Matricule</label>
                {{ form_widget(form.matricule, {'attr': {'class': 'form-control', 'placeholder': 'Votre matricule ici'}}) }}
            </div>

            <div class="form-group">
                <label for="roles">Rôles</label>
                {{ form_widget(form.roles, {'attr': {'class': 'form-control', 'placeholder': 'Vos rôles ici'}}) }}
            </div>

            <div class="form-group">
                <label for="plainPassword">Mot de passe</label>
                {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Votre mot de passe ici'}}) }}
            </div>

            <div class="form-group">
                <label for="nom">Nom</label>
                {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Votre nom ici'}}) }}
            </div>

            <div class="form-group">
                <label for="prenom">Prénom</label>
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Votre prénom ici'}}) }}
            </div>

            <div class="form-group">
                <label for="operation">Opération</label>
                {{ form_widget(form.operation, {'attr': {'class': 'form-control'}}) }}
            </div>

            <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
        </form>
        <div class="d-flex flex-row-reverse mb-3">
            <a href="{{ path('app_gestion_index') }}" class="btn btn-secondary mr-3">Retour à la liste</a>
            {{ include('gestion/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
