<!-- templates/pdf_generator/index.html.twig -->
<html>
<head>
    <title>Informations client</title>
</head>
<body>
    <h1>Informations client</h1>
    <p>Nom : {{ client.nom }}</p>
    <p>Prénom : {{ client.prenom }}</p>
    <p>Adresse : {{ client.adresse }}</p>
    <p>Téléphone : {{ client.tel }}</p>
    <p>Email : {{ client.email }}</p>
</body>
</html>

